{% load static %}
{% block page %}
    
<head>
    <title></title>
    <meta charset="utf-8">
</head>
<body>
    <div style="display: none !important"><matricula>D842048</matricula></div>
    <div style="margin-left:2%; margin-right:2%; margin-top:2%; color:#00008b;font-family:Verdana;font-size: 30Px;">
        <img src="https://www.unip.br/assets/img/logo/logo-unip-2021.svg">
        <table width="100%" border="0" cellspacing="0" cellpadding="1">
            <tbody>
                <tr>
                    <td colspan="2" align="center">
                        <b><font face="Arial">Dados do Aluno</font></b>
                        <font face="Arial"></font>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><hr noshade="" color="blue" size="1"></td>
                </tr>
                <tr>
                    <td style="width:330px;"><b>Matrícula:</b></td>
                    <td style="text-transform: uppercase;">D872087</td>
                </tr>
                <tr>
                    <td style="width:180px;"><b>Nome:</b></td>
                    <td style="text-transform: uppercase;">ALINE THALISSA DE SOUZA MATIAS</td>
                </tr>
                <tr>
                    <td style="width:180px;"><b>RG:</b></td>
                    <td style="text-transform: uppercase;">537212784 SP</td>
                </tr>
                <tr>
                    <td style="width:180px;"><b>Nascimento:</b></td>
                    <td style="text-transform: uppercase;">22/05/1997</td>
                </tr>
                <tr>
                    <td style="width:180px;"><b>Curso:</b></td>
                    <td style="text-transform: uppercase;">48401 - CIENCIAS CONTABEIS</td>
                </tr>
                <tr>
                    <td style="width:180px;"><b>Unidade:</b></td>
                    <td style="text-transform: uppercase;">0112 - CAMPINAS-SWIFT</td>
                </tr>
                <tr>
                    <td style="width:180px;"><b>Carteirinha:</b></td>
                    <td style="text-transform: uppercase;">Ativo</td>
                </tr>
                <tr>
                    <td style="width:30px;"><b>Validade:</b></td>
                    <td style="text-transform: uppercase;">JAN/2025</td>
                </tr>
                <tr>
                    <td colspan="2"><hr noshade="" color="blue" size="1"></td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size:18px;">Data: 14/08/2024</td>
                </tr>
            </tbody>
        </table>
    </div>


</body>
{% endblock %}